.pdf-form
    width: 100%
    padding: 10px
    height: 600px

.svg-inline--fa.fa-w-14
    height: 24px
    width: 24px

.svg-inline--fa.fa-w-16
    height: 24px
    width: 24px

.parallax-window
    min-height: 400px
    background: transparent
    
hr
    border-top: 1px solid white

.header-shadow
    text-shadow: 2px 2px $theme-background, 0 0 60px $theme-background


blockquote
    color: $theme-secondary
    border-left: 4px solid $theme-secondary
    padding-left: 5px
    font-size: 18px
    letter-spacing: -1px
    font-style: italic

    > :last-child
        margin-bottom: 0

.navbar-logo
    margin-right: 10px


/**
 * Code formatting
 */
pre,
code
    font-size: 15px
    border: 1px solid lightgrey
    border-radius: 3px
    background-color: #eef

code
    padding: 1px 5px

pre
    padding: 8px 12px
    overflow-x: auto

    > code
        border: 0
        padding-right: 0
        padding-left: 0