<div class="col-md-8 container mt-4 mb-2">

<h3 class="text-center mb-2">About Cambridge Water Polo</h3>

    <p>
        Cambridge Water Polo (CWP) as a club team is open to all North Fulton area high school and middle school aged players where no team is available at their school.  Past CWP teams have had players from Cambridge, Johns Creek, and Milton High Schools.  CWP is a club part of Georgia High School Water Polo Association (GHSWPA) and American Water Polo Association.           
    </p>

</div>
