
<footer class="page-footer font-small bg-light pt-4">

    <div class="container-fluid text-center text-md">
        <div class="row">

            <div class="col-md-6">
                <h5 class="text-uppercase">{{ site.title }}</h5>
                <p>Website currently under construction, check back soon!!!</p>
            </div>

            <div class="col-md-6">
                <h5 class="text-uppercase">Quick Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/calendar/">Calendar</a>
                    </li>
                    <li>
                        <a href="/forms/">Registration</a>
                    </li>
                    <li>
                        <a href="/sponsors/">Sponsors</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright
        <a href="/"> Cambridge Water Polo </a>
    </div>

</footer>
                      