<div class="col-md-8 container mt-2 mb-2">
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>

    <br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum massa sem, sed sollicitudin risus scelerisque a. Ut vitae ultricies nibh. Duis tincidunt, nisl at tristique bibendum, sem ex pretium nibh, vel ullamcorper turpis libero quis nunc. Integer vehicula quam urna, et venenatis arcu pulvinar non. Fusce id consequat nisi. Phasellus nibh justo, facilisis non diam pretium, accumsan iaculis ligula. Integer arcu tortor, efficitur ultrices augue sed, finibus fermentum mi. Ut viverra malesuada libero, vel malesuada justo. Donec imperdiet sodales aliquam. Aenean commodo maximus ultrices. Morbi euismod elit vel maximus tincidunt. Nullam neque nulla, commodo in ullamcorper et, dictum nec ante. Maecenas et convallis lacus. Aliquam at bibendum nulla, vel porttitor ante. In ac dolor nec tortor fermentum finibus.

        Nulla ac lectus id neque condimentum pretium. Sed ac ultrices massa. Fusce gravida enim pulvinar consectetur viverra. Etiam luctus sodales dignissim. Nunc ullamcorper pharetra tristique. Maecenas mattis justo et purus vehicula convallis. Mauris ac auctor ligula, et cursus ligula. Ut ornare dignissim purus ac tempor. Nulla sagittis commodo congue. Sed malesuada vel nibh sit amet efficitur. Donec posuere auctor magna, vel blandit quam volutpat quis. Ut venenatis erat id pellentesque congue. Curabitur sed tempor risus. Vivamus porta ac turpis vitae commodo. Aliquam sem purus, feugiat faucibus est ut, accumsan efficitur tellus. Ut tristique, nisi vitae volutpat eleifend, nunc elit scelerisque urna, id ullamcorper justo nunc nec lorem.
        
        Praesent vel tincidunt libero, ac hendrerit sem. Vivamus eleifend ipsum non elit laoreet dictum. Curabitur varius mauris libero, a auctor sem venenatis non. Sed id bibendum metus, eget hendrerit ipsum. Aliquam at nisl ac tellus posuere tincidunt. Nulla tincidunt libero quis purus malesuada efficitur. Etiam odio sem, tincidunt eu egestas vel, maximus at massa. Mauris id pellentesque augue, quis placerat felis. Donec pretium egestas condimentum.
        
        Nullam ut mauris at quam facilisis commodo ut vel erat. Quisque scelerisque nunc massa. Suspendisse ac metus cursus, porttitor lorem sit amet, porta nibh. Morbi ultricies et orci finibus eleifend. Nunc feugiat dui et scelerisque venenatis. Nam pretium pharetra urna, quis commodo justo egestas nec. Praesent ornare pulvinar est, a tristique augue scelerisque quis. Nunc ac velit id turpis porta placerat nec congue felis. Nam pharetra lacus leo, at rutrum augue dictum nec. Phasellus bibendum odio a commodo cursus.
        
        Maecenas vel lacinia ex. Proin ornare elementum massa, ac lacinia mi bibendum non. Donec aliquet sapien dapibus ipsum imperdiet, eget fermentum nunc facilisis. Cras sit amet elementum metus. Nam faucibus imperdiet volutpat. Nam sed diam malesuada, feugiat elit at, placerat tellus. Duis in ultrices velit. Vivamus a ultricies mi. Cras in sagittis lorem. Proin scelerisque vel lectus ac tristique. Aenean facilisis justo maximus, condimentum urna ut, consectetur libero. Aenean suscipit viverra ex, id vehicula lectus porta nec. Donec nibh diam, laoreet suscipit rhoncus eget, luctus at tortor. Vivamus tincidunt est metus.
    </p>
    <br>

    {% for post in site.posts %}
        <a href="{{ post.url }}">
            <h2>{{ post.title }}</h2>
        </a>
    {% endfor %}
</div>