<div class="col-md-8 container mt-2 mb-2">

<h3 class="text-center">About CWP</h3>
<br>

    <p>
        Cambridge Water Polo (CWP) as a club team is open to all North Fulton area high school and middle school aged players where no team is available at their school.  Past CWP teams have had players from Cambridge, Johns Creek, and Milton High Schools.  CWP is a club part of Georgia High School Water Polo Association (GHSWPA) and American Water Polo Association.  The GHSWPA League has thirty-five teams across three divisions of co-ed teams and one division of girls teams in the Greater Atlanta area.
        <br><br>
        For the 2018 fall season, CWP will be having two teams.  There will be one Division 2 team and one Division 3 team.  Both teams will be co-ed.  The regular season starts in August and runs through the beginning of October.  Typically, we play ten to twelve regular season games followed by the GHSWPA State Tournament.  This summer there are plans for a water polo clinic and scrimmages with other teams.            
    </p>

<br>

<h3 class="text-center">News & Announcements</h3>

{% for post in site.posts | limit: 5 %}
<a style="font-size: 30px;" href="{{ post.url }}">{{ post.title }}</a><br>
{% endfor %}

</div>
