<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">

    <a href="/" class="navbar-brand">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/news/">News</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/calendar/">Calendar</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/forms/">Links & Forms</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/venues/">Venues</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/gallery/">Gallery</a>
            </li>

            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="/about/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <!-- <a class="dropdown-item" href="/about/club-history/">Club History</a> -->
                    <a class="dropdown-item" href="/about/coaches/">Coaches</a>
                    <a class="dropdown-item" href="/about/club-philosophy/">Club Philosophy</a>
                    <a class="dropdown-item" href="/about/team-expectations/">Team Expectations</a>
                    <a class="dropdown-item" href="/about/faq/">FAQ</a>
                </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/sponsors/">Sponsors</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/contact/">Contact Us</a>
            </li>

        </ul>
    </div>

</nav>