<div class="col-md-8 container mb-4">

<h3 class="text-center mb-2">Sponsors</h3>
        
<div class="row">
    
    <img class="col-xs-2 mb-2 p-2" src="/assets/images/sponsors/el-don-color.jpg" height="150px"/>
    <img class="col-xs-2 mb-2 p-2" src="/assets/images/sponsors/hj-color.jpg" height="150px"/>
    <img class="col-xs-2 mb-2 p-2" src="/assets/images/sponsors/hillhouse.png" height="150px"/>
    <img class="col-xs-2 mb-2 p-2" src="/assets/images/sponsors/image-freeway.png" height="150px"/>

</div>

</div>